1-Kernel_module/6-Network_Stack/Deleteme.pdf
1-Kernel_module/6-Network_Stack/Deleteme.md
1-Kernel_module/8-ServerClient_Project/Solution/ahmed
2-Bootloader Customization/deleteme.md
2-Bootloader Customization/deleteme.html
2-Bootloader Customization/Readme.pdf
2-Embedded_linux_module/2-Bootloader Customization/Readme.pdf
2-Embedded_linux_module/2-Bootloader Customization/deleteme.md
2-Embedded_linux_module/2-Bootloader Customization/deleteme.html
4-CPP_module/Intermediate_course/build
build
.vscode